* {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #808080;
}

#name {
    display: inline-block;
    background-color: turquoise;
}

a:hover {
    background-color: turquoise;
    color: #808080;
    transition: .5s ease;
    opacity: .75;
    border-radius: 50%;
    
}
  a {
    color: turquoise;
    text-decoration: none;
    
  }


.section {
    text-decoration: underline #808080;
    
}

section {
    display: block;
}

img {
    
    border-radius: 4px;
    max-width: 100%;
    height: auto;
    z-index: -1;
  }

img:hover {
    color: blanchedalmond;
    opacity: .5;
    transition: .5s ease;
}

.imagetext {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
  }

  .flex-container {
    display: flex;
  }

  nav {
    float: right;
  }

