* {
    padding: 0px;
    margin: 5px;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: 	#778899;
}

#name {
    display: inline-block;
    color: lightslategray;
    background-color: #87cefa;
}

a:hover {
    background-color: #87cefa;
    color: #778899;
    transition: .5s ease;
    opacity: .75;
    border-radius: 50%;
    
}
  a {
    color: lightskyblue;
    text-decoration: none;
    
  }


.section-title {
    text-decoration: underline 	#778899;
    color: lightslategray;

    
}

section {
    display: block;
}

img {
    border: #87cefa;
    border-style: solid;
    border-radius: 5%;
    max-width: 100%;
    height: auto;
    z-index: -1;
  }

img:hover {
    color: tan;
    opacity: .75;
    transition: .5s ease;
}

.imagetext {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
  }

  .flex-container {
    display: flex;
  }

  nav {
    float: right;
  }

